/* Common styles */
@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
    }
  }
  body {
    font-family: "Helvetica";
    margin: 0;
    padding: 0;
    caret-color: transparent;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  /* Header styles */
  #header {
    width: 100%;
    height: 60px;
    background-color: #be3144;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    border-bottom: rgb(57, 57, 57) solid 1px;
    font-size: 1.5rem;
  }
  
  ul {
    display: flex;
    align-items: center;
  }
  
  li {
    display: block;
    padding-top: 6px;
  }
  
  nav a {
    padding: 20px;
    text-decoration: none;
    color: #fff;
  }
  
  nav a:hover {
    background-color: #45567dbb;
    color: white;
  }
  
  /* Welcome-section styles */
  #welcome-section {
    height: 100vh;
    background: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
    font-family: "Raleway";
  }
  
  #welcome-section h1 {
    color: white;
    margin: auto;
    padding-top: 36vh;
    text-align: center;
    font-size: 6rem;
  }
  
  #welcome-section p {
    color: #be3144;
    text-align: center;
    font-size: 3rem;
    margin-top: 0;
  }
  
  /* Project-section styles */
  #projects {
    background-color: #495159;
    letter-spacing: 1px;
    padding-bottom: 3rem;
  }
  
  .title {
    margin-top: 0;
    color: white;
    text-align: center;
    font-size: 2.4rem;
    padding-top: 5vh;
    border-bottom: solid 2px white;
    margin: 0 30%;
    margin-bottom: 8vh;
    padding-bottom: 3px;
  }

  .container{
    display: flex;
    justify-content: space-between;
  }

  .button-group{
    display: flex;
    flex-direction: column;
    width: 30vw;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
  }

  .project-btn{
    margin: 10px 0px 3px 10px;
    background-color: #00000077;
    border: solid 1px white;
    color: white;
    font-size: 27px;
    padding: 5px 0px;
    text-decoration: none;
  }

  .project-btn:hover{
    color: #be3144;
  }

  .project-img-container{
    width: 50.5vw;
    height: 25vw;
    border: solid;
    display: flex;
    justify-content: center;
    border-radius: 8px;
  }

  .project-img{
    opacity: 0;
    width: 50vw;
    border-radius: 8px;
    position: absolute;
    transition: opacity 0.3s ease-in-out;
  }

  /* Education-section styles */
  #education {
    background-color: #282e3c;
    color: white;
    padding: 5vh;
  }

  .education-row{
    display: flex;
    justify-content: space-between;
  }

  .education-flex{
    display: flex;
    flex-direction: column;
  }
  
  #education h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 3vh;
  }
  
  .education-item {
    margin-bottom: 3vh;
    text-align: center;
  }
  
  .education-item h2 {
    font-size: 1.5rem;
    margin-top: 7vh;
    margin-bottom: 1vh;
  }
  
  .education-item p {
    margin: 0.5vh 0;
    font-size: 1rem;
    line-height: 1.5;
  }
  
  #education img {
    text-align: center;
    display: inline-block;
    transition: transform 0.1s;
  }
  
  #logo {
    width: 200px;
    filter: grayscale(30%);
  }
  
  #education img:hover {
    transform: scale(1.1);
    filter: grayscale(0);
  }
  
  .logo-container {
    margin-bottom: 1vh;
  }
  
  .cis {
    color: green;
    font-weight: bold;
  }

  .cert-img{
    max-width: 40vw;
    margin-top: 15px;
  }

  #courses-title{
    margin-bottom: 20px;
    padding-bottom: 10px;
  }
  
  /* Contact-section styles */
  #contact {
    background-color: #000000;
    color: white;
    padding-bottom: 4vh;
  }
  
  #contact h1 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5px;
    margin: 0 37%;
  }

  #contact a{
    text-decoration: none;
    color: white;
  }
  
  p {
    text-align: center;
    font-size: 1.2rem;
    padding-top: 1vh;
  }
  
  #social-icons {
    text-align: center;
  }
  
  .fa {
    padding: 0 3px;
    transition: transform 0.3s;
    margin: 0 3px;
  }
  
  .fa:hover {
    color: crimson;
    transform: scale(1.3);
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    #welcome-section h1 {
      font-size: 4rem;
      padding-top: 35vh;
    }
  
    #welcome-section p {
      font-size: 2rem;
    }
  
    #projects {
      padding-bottom: 2rem;
    }
  
    #project-flex {
      flex-direction: column;
    }
  
    .title {
      font-size: 2rem;
      padding-top: 3vh;
      margin: 0 10%;
      margin-bottom: 2vh;
    }
  
    #projects p {
      font-size: 1.5rem;
    }
  
    #education {
      padding: 2vh;
    }
  
    #education h1 {
      font-size: 1.5rem;
      margin-bottom: 2vh;
    }
  
    .education-item h2 {
      font-size: 1.2rem;
      margin-top: 5vh;
      margin-bottom: 0.5vh;
    }
  
    .education-item p {
      font-size: 0.9rem;
    }

    .education-row{
      flex-direction: column;
    }
  
    #logo {
      width: 150px;
    }
  
    .cert-img {
      margin-top: 3vh;
      width: 40vw;
    }
  
    #contact {
      padding: 2vh;
    }
  
    #contact h1 {
      font-size: 1.5rem;
      margin-bottom: 2vh;
    }
  
    p {
      font-size: 1rem;
    }
  }
  